.navbar{
    display: flex;
    gap: 180px;
    text-align: center;
    
}
a{
    text-decoration: none;

}
#logo{
    width: 40px;
}

.achievements{
    text-align: center;
}

body{
    text-align: center;
    font-size: xx-large;
    background-color: rgb(200, 220, 237);
}
.product{
    padding-left: 20px;
}

.footer{
    display: flex;
    gap: 30%;
    background-color: rgb(59, 45, 130);
    color: white;
    list-style: none;
    height: 240px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    white-space: normal;
}




@media screen and (min-width:280px) and (max-width:767px) {
    .navbar{
     flex-direction: column;
     gap: 0%;
    } 

    .footer {
        display: block;
    
        gap: 0%;
        background-color: rgb(9, 9, 92);
        color: white;
        list-style: none;
        height: 300px;
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
        white-space: normal;
        gap: 0%;
        font-size: smaller;
        width: 66%;
        text-align: center;
      }
      .product {
        padding-left: 40px;
      }

      body{
        text-align: center;
        font-size: 18px;
    }
    .achievements{
        text-align: center;
        white-space: none;
    }
    
}