.navbar{
    display: flex;
    gap: 200px;
    
}
a{
    text-decoration: none;
    gap: 100px;
}
hr{
    width: 100px;
}
h1{
    text-align: center;
}
body{

    background-color: rgb(200, 220, 237);
}