.navbar{
    display: flex;
    gap: 200px;
font-size: xx-large;
    
}
a{
    text-decoration: none;
   
}

#logo{
    width: 40px;
}
body{

    background-color: rgb(200, 220, 237);
    font-size: 30px;
}

#goals{
text-align: center;
}

.footer{
    display: flex;
    gap: 30%;
    background-color: rgb(9, 9, 92);
    color: white;
    list-style: none;
    height: 250px;
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    white-space: normal;
}
.product{
    padding-left: 40px;
}

@media screen and (min-width:280px) and (max-width:767px) {
    .navbar{
     flex-direction: column;
     gap: 0%;
     font-size:20px ;
     text-align: center;
    } 

.input{
flex-wrap: wrap;
  display: flex;
    padding-top: 0px;
    padding-left: 0px;
    
}
.footer {
    display: block;

    gap: 0%;
    background-color: rgb(9, 9, 92);
    color: white;
    list-style: none;
    height: 340px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    white-space: normal;
    gap: 0%;
    font-size: smaller;
    width: 66%;
    text-align: center;
  }
  .product {
    padding-left: 40px;
  }
  body{

    background-color: rgb(200, 220, 237);
    font-size: 20px;
}
}

@media only screen and (min-width: 768px) and (max-width:1024px){
    body {
      background-color: rgb(161, 203, 227);
      font-size: large;
    }
  
    .mentor {
      text-align: center;
      gap: 0px;
    }
  
    #logo {
      width: 15px;
    }
  
    .navbar {
      display: flex;
      gap: 60px;
      margin-bottom: 30px;
      text-align: center;
    }
    a {
      text-decoration: none;
      gap: 100px;
    }
  
    sharon {
      width: 300px;
      border-radius: 30px;
      margin-bottom: 100px;
    }
    .footer {
  display: flex;
      gap: 0%;
      background-color: rgb(9, 9, 92);
      color: white;
      list-style: none;
      height: 150px;
      margin-top: 0px;
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 50px;
      white-space: normal;
      gap: 30%;
      font-size: large;
      width: 90%;
      text-align: center;
    }
    .product {
      padding-left: 40px;
    }
  }
  
  @media only screen and (min-width: 1025px) and (max-width:1400px){
    body {
      background-color: rgb(161, 203, 227);
      font-size: x-large;
    }
  
    .mentor {
      text-align: center;
      gap: 0px;
    }
  
    #logo {
      width: 15px;
    }
  
    .navbar {
      display: flex;
      gap: 120px;
      margin-bottom: 50px;
      text-align: center;
    }
    a {
      text-decoration: none;
      gap: 100px;
    }
  
    sharon {
      width: 300px;
      border-radius: 30px;
      margin-bottom: 100px;
    }
    .footer {
  display: flex;
      gap: 0%;
      background-color: rgb(9, 9, 92);
      color: white;
      list-style: none;
      height: 180px;
      margin-top: 40px;
      padding-top: 50px;
      padding-left: 50px;
      padding-right: 50px;
      white-space: normal;
      gap: 30%;
      font-size: large;
      width: 90%;
      text-align: center;
    }
    .product {
      padding-left: 40px;
    }
  }
  




