.navbar{
    display: flex;
    gap: 200px;
    
}
a{
    text-decoration: none;
    gap: 100px;
}
body{

    background-color: rgb(200, 220, 237);
}

@media screen and (max-width:300px){
    .navbar{
     display: flex;
        gap: 10px;
        
    }   
}
@media screen and (min-width:301px) and (max-width:667px){
    .navbar{
     display: flex;
        gap: 10px;
        
    } 

}@media screen and (min-width:668px) and (max-width:997px){
    .navbar{
     display: flex;
        gap: 10px;
        font-size: 10px;
        
    }   
    .mentor{
        flex-direction: column;
        gap: 30px;
        padding-top: 50px;
    }
}

@media screen and (min-width:998px) and (max-width:1300px){
    body{
        font-size: 8px;
        background-color: aqua;
    }
    .navbar{
     display: flex;
        gap: 10px;
        font-size: 10px;
        
    }   
    .mentor{
        flex-direction: column;
        gap: 10px;
        padding-top: 50px;
    }
}

