body{
    background-color: aquamarine;
    font-size: xx-large;
}

.mentor{
    display: flex;
    gap: 200px;
}

.navbar{
    display: flex;
    gap: 300px;
    
}
a{
    text-decoration: none;
    gap: 100px;
}
.details{
   padding-top: 100px;
    gap: 150px;

}
