body{
    
    background-color: rgb(161, 203, 227);
    font-size: xx-large;
}

.mentor{
    text-align: center;
    gap: 200px;
}

.navbar{
  display: flex;
   gap: 200px;
  
    
}
a{
    text-decoration: none;
    gap: 100px;
}

sharon{
    width: 300px;
    border-radius: 30px;
}

@media screen and (max-width:300px){
    .navbar{
     flex-wrap: wrap;
     grid-template-columns: auto;
    } 
    .mentor{
        flex-wrap: wrap;
    }
    .image{
        width: 400px;
    }
    .about{
        flex-wrap: wrap;
    }

}

@media screen and (min-width:301px) and (max-width:667px){
    .navbar{
     flex-wrap: wrap;
     grid-template-columns: auto;
    } 
    .mentor{
        flex-wrap: wrap;
    }
    .image{
        width: 400px;
    }
    .about{
        flex-wrap: wrap;

    }
    .mentorship{
        flex-wrap: wrap;
        font-size: 12px;

    }
}