.mentor{
    display: flex;
    gap: 300px;
    padding-top: 50px;
}

.navbar{
    display: flex;
    gap: 200px;
    
}
a{
    text-decoration: none;
    gap: 100px;
}

.about{
   text-align: center;
}
body{
    font-size: 20px;
    background-color: aqua;
}

h2{
    padding-top: 100px;
}