body{
    font-size: 20px;
    background-color: rgb(200, 220, 237);
    margin-top: 100px;
    margin-left: 150px;
    overflow-x: hidden;
   
}
#logo{
    width: 40px;
}
 .container{
    display: flex;
    gap: 200px;
    overflow-x: hidden;
    margin: 0%;
} 

a{
    text-decoration: none;
    gap: 100px;
}


h2{
    padding-top: 100px;
}

.mentor{
    width: 80%;
}

button{
    width: 150px;
    height: 50px;
    background-color: rgb(255, 0, 242);
    border-radius: 30px;
    color: black;
    margin-top: 50px;
}


@media only screen and (max-width: 767px) {
    

    .container{
       flex-direction: column;
        gap: 0px;
        margin-top: 10px;
        margin-bottom: 0%;
    } 
    body{
        font-size: px;
        background-color: rgb(200, 220, 237);
        margin-top: 0px;
        margin-left: 0px;
    }
    .mentor{
        width: 100%;
        margin-top: 70px;
        height:550% ;
    }
    h2{
        padding-top: 0px;
    }
    
    button{
        margin-top: 10%;
    }
}
