.container{
    overflow-x: hidden;
    margin: 0%;
}
.mentor{
    display: flex;
    gap: 300px;
    padding-top: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    gap: 100px;
}

.about{
   text-align: center;
}
body{
    font-size: 20px;
    background-color: rgb(200, 220, 237);
}

h2{
    padding-top: 100px;
}


@media screen and (max-width:300px){
    .navbar{
     flex-wrap: wrap;
     grid-template-columns: auto;
    } 
    .mentor{
        flex-wrap: wrap;
    }
    .image{
        width: 400px;
    }
    .about{
        flex-wrap: wrap;
    }

}

@media screen and (min-width:301px) and (max-width:667px){
    .navbar{
     flex-wrap: wrap;
     grid-template-columns: auto;
    } 
    .mentor{
        flex-wrap: wrap;
    }
    .image{
        width: 400px;
    }
    .about{
        flex-wrap: wrap;

    }
    .mentorship{
        flex-wrap: wrap;
        font-size: 12px;
        }
        

}