.navbar{
    display: flex;
    gap: 200px;
    
}
a{
    text-decoration: none;
    gap: 100px;
}
hr{
    width: 150px;
}
body{

    background-color: rgb(200, 220, 237);
    font-size: large;
}

#container{
    font-size: larger;
    padding-top: 100px;
    text-align: center;
}
a{
    font-size: 50px;
   
}