input{
    border-radius: 30px;
    width: 200px;
    height: 50px;
}

.navbar{
    display: flex;
    gap: 200px;
    
}

#logo{
    width: 40px;
}
b{
    margin-right: 100px;
    margin-top: 10px;
}

.input{
    display: flex;
    padding-top: 50px;
    align-items: center;
    padding-left: 400px;
    
}
body{
  
    text-align: center;
    font-size: xx-large;
    background-color: rgb(200, 220, 237);
    overflow-x: hidden;

}
.footer{
    display: flex;
    gap: 25%;
    background-color: rgb(9, 9, 92);
    color: white;
    list-style: none;
    height: 250px;
    margin-top: 40px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    white-space: normal;


}
.product{padding-left: 20px;}

#button{
    height: 50px;
    border-radius: 30px;
    width: 200px;
    /* margin-left: 100px; */
}
button{
    height: 50px;
    border-radius: 30px;
    width: 100px; 
    margin-right: 100px;
    text-decoration-style: solid;
}
a{
    text-decoration: none;
}
@media screen and (min-width:280px) and (max-width:767px) {
    .navbar{
     flex-direction: column;
     gap: 0%;
     padding-left: none;
    } 

.input{
  flex-wrap: wrap;
  display: flex;
  padding-top: 0px;
  padding-left: 30px;
  width: 20%;
  height: 30%;
 
    
    
}
.checkbox{
    width: 50%;
    height: 40%;
}
.footer{
   
  flex-direction: column;
    gap: 0%;
    background-color: rgb(9, 9, 92);
    color: white;
    list-style: none;
    height: 380px;
    margin-top: 40px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    white-space: normal;
    gap: 0%;
    font-size: 20px;
    white-space: none;


}
body{
  
    /* text-align: center; */
    font-size: large;
    background-color: rgb(200, 220, 237);
    overflow-x: hidden;

}
#button{
    height: 50px;
    border-radius: 30px;
    width: 180px;
    margin-right: 27%;
}
}